@tailwind utilities;

@font-face {
  font-family: "Custom-AgencyFB";
  src: url("../../../fonts/AGENCYB.TTF");
}

@font-face {
  font-family: ;
}

:root {
  --default1: ;
  --default2: ;
  --default-text: ;
  --light1: hsl(53, 29%, 95%);
  --light2: hsl(54, 33%, 94%);
  --light-text: ;
  --dark1: ;
  --dark1: ;
  --dark-text: ;
  --white: #fff;
  --black: #333;
  --background-white-1: #f9fafb;
  --background-white-2: #f3f4f6;
}

* {
  box-sizing: border-box;
  font-family: "Custom-AgencyFB";
}

body {
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}
