@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind utilities;
@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .running {
    animation-play-state: running;
  }
}

.intro-card {
  opacity: 0;
  font-family: "BitCount";
  animation-name: intro-card-fadeInOut;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes intro-card-fadeInOut {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.body-borders {
  /* pointer-events: none; */
  opacity: 0;
  animation-name: container-block-fadeIn, container-animate-shadow;
  animation-duration: 1s, 2s;
  animation-delay: 4s, 4s;
  animation-timing-function: ease-in, aese-in;
  animation-fill-mode: forwards, forwards;
}
@keyframes container-block-fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes container-animate-shadow {
  /* from {
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  to {
    --tw-shadow-alpha: 50%;
    --tw-shadow: 0 2px 3px -1px var(--tw-shadow-color, oklab(from
              rgb(0 0 0 / 0.1) l a b / 50%)),
      0 2px 4px -2px var(--tw-shadow-color, oklab(from rgb(0 0 0 / 0.1) l a b /
              50%));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  } */
}

.author-text {
  opacity: 0;
  animation-name: body-leftRight-fadeIn;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.body-left-authorText {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.body-left-authorText > * {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.category-options {
  font-family: "Raleway";
  font-weight: 500;
  flex-shrink: 1;
  width: 40%;
  border: 3px solid transparent;
  text-wrap: nowrap;
  cursor: pointer;
  transition: ease-in 100ms;
  clip-path: rect(0px, 15px, 15px, 0px);
  clip-path: view-box;
}
.category-options:hover {
  border-left: 3px solid black;
  color: #00000096;
  padding-left: 1rem;
}
.category-options:focus {
  border-left: 3px solid black;
  color: #00000096;
  padding-left: 1rem;
}

.body-left,
.body-right {
  position: relative;
  background-color: transparent;
  /* height: max-content; */
  /* max-height: max-content; */
  opacity: 0;
  animation-name: body-leftRight-fadeIn;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.body-right {
  background-color: transparent;
}
@keyframes body-leftRight-fadeIn {
  to {
    opacity: 1;
  }
}

/* Moving highlighter tab */
.moving-tab {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid orange;
  border-right: none;
  border-left: none;
}

.item::before {
  animation-name: slideIn;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}
@keyframes slideIn {
  to {
  }
}
.item {
  display: flex;
  /* flex-direction: row-reverse; */
  width: 100%;
  padding: calc(var(--spacing) * 4);
  cursor: pointer;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-image: linear-gradient(to left, transparent, transparent, transparent)
    10;
  transition: ease-in 100ms;
}
.item:hover {
  color: #00000096;
  border: 1px solid;
  border-left: none;
  border-right: none;
  border-image: linear-gradient(to right, transparent 30%, #000563 60%) 10;
  /* animation: item-showBorders; */
  padding-right: 2rem;
}
@keyframes item-showBorders {
}

/* Author's note: tailwindcss screen sizing doesn't seem to work for some properties (e.g. flex-direction) properly so I am hard-coding it here */
/* xs screens */
/* @media (width: 32rem) {} */
/* sm screens */
/* @media (width: 40rem) {
  .body {
    flex-direction: row;
  }
} */

/* md screens */
/* @media (min-width: 48rem) {
  .body {
    flex-direction: row;
  }
} */
/* lg screens */
