/* .body-x-borders {
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  width: auto;
  height: 90vh;
  z-index: 1;
}
@keyframes shorten-x-borders {
} */

/* .body-y-borders {
  position: absolute;
  width: auto;
  height: 90vh;
  z-index: 1;
}
@keyframes shorten-y-borders {
} */

.body {
  height: 95vh;
  border: 1px solid lime;
  width: auto;
  height: auto;
}

.body-borders {
  display: block;
  position: absolute;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  /* max-width: 95vw; */
  /* width: auto; */
  /* width: auto; */
  /* height: 90vh; */
  z-index: 50;
  inset: 0;
  animation-name: container-block-fade-in;
  animation-duration: 1s;
  /* animation-delay: 2s; */
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes container-block-fade-in {
  to {
    display: block;
  }
}

.body-left {
  position: relative;
  background-color: beige;
  height: max-content;
  max-height: max-content;
}

.body-right {
  position: relative;
  background-color: bisque;
  z-index: 2;
}
